<div >
    <h1 id = titulo>Habilidades</h1>
</div>

<div class="row">
    <div class="col-lg-3">
        <circle-progress
        [percent]="40"
        [radius]="100"	
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'JAVA'"
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'PYTHON'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'HTML'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'PL-SQL'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-3">
        <circle-progress
        [percent]="60"
        [radius]="100"	
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Forms Builder'"
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'ALM'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'QMetry'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Zephyr Scale'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    
</div>

<div class="row">
    <div class="col-lg-3">
        <circle-progress
        [percent]="80"
        [radius]="100"	
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'JIRA'"
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-lg-3">
        <circle-progress
        [percent]="25"
        [radius]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [title]="'Android Studio'"	
        [outerStrokeWidth]="16"		
        [innerStrokeWidth]="8"		
        [outerStrokeColor]="'#ffc8dd'"	
        [innerStrokeColor]="'#845FCE'"	
        [animation]="true"	
        [animationDuration]="300">
        </circle-progress>
    </div>
    
</div>