<div class="row">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id = "col1">
        <img src="./../../../assets/perfil.jpg" class="img-fluid" id = "foto" >
        <h3 id = "nombre">Micaela Garcia</h3>
        
    </div>

    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1">
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id = "titulo">
        <span>
            <h1 >Analista de Testing Manual Ssr</h1>
            <p>Estudiante de Ingenieria en Sistemas de Informacion.
                Analista de Testing con 4 años de experiencia en el rubro. 
                Me especializo en el Testing Manual con interés en especializarme en Testing Automatizado. 
            </p>
        </span>
    </div>
</div>
