<div >
    <h1 id = titulo>Educación</h1>
</div>

<div class="row"> 
    <div class="col-lg-2">
        <img src="./../../../assets/UTN.jpg" id = img>
    </div>
    
    <div class="col-lg-10">
                <h1>Ingenieria en Sistemas de Información (En Curso)</h1>
                <h3>Universidad Tecnologica Nacional</h3>    
                                    
    </div>
    
</div>

<div class="row">
    <div class="col-lg-2">
        <img src="./../../../assets/Nores.png" id = img>
    </div>
    <div class="col-lg-10">
                <h1>Bachiler en Administracion y Economia(2006 - 2012)</h1>
                <h3>Instituto Doctor Antonio Nores</h3>               
    </div>
</div>


