<div >
    <h1 id = titulo>Experiencia Laboral</h1>
</div>
<div class="row">
    <div class="col-lg-2">
        <img src="./../../../assets/cohen.jpg" id= img>
    </div>
    <div class="col-lg-10">
                <h1>COHEN Sistemas (Dic 2018 - Ag 2019)</h1>
                <p>Principales tareas:<br>
                    Diseño y Ejecución de Casos de Prueba<br>
                    Detección y Seguimiento de Errores<br>
                    Pruebas Integrales<br>
                    Control de implementación en ambiente productivo<br>
                    Testing Caja Blanca</p>    
                
                       
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <img src="./../../../assets/AR.jpg" id= img>
    </div>
    
    <div class="col-lg-10">
                <h1>AR Consultores (Ag 2019 - Jun 2022)</h1>
                <p>Principales tareas:<br>
                    Diseño y Ejecución de Casos de Prueba<br>
                    Detección y Seguimiento de Errores<br>
                    Pruebas Integrales<br>
                    Control de implementación en ambiente productivo<br>
                    Testing Caja Blanca</p>    
                
                       
    </div>
    
</div>

<div class="row">
    <div class="col-lg-2">
        <img src="./../../../assets/CTECH.jpg" id= img>
    </div>
    <div class="col-lg-10">
                <h1>C-TECH S.A (Jun 2022 - Actualidad)</h1>
                <p>Principales tareas:<br>
                    Diseño y Ejecución de Casos de Prueba<br>
                    Detección y Seguimiento de Errores<br>
                    Pruebas en diferentes ambientes<br>
                    Testing Caja Blanca</p>    
                
                       
    </div>
</div>